.btn-grey {
	background-color: #2F3031;
	padding: 10px 15px;
	border-radius: 6px;
	color: #7D8185;
	font-family: open sans, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	transition: color 0.3s ease;
}

.btn-social {
	color: #2F3031;
	transition: color 0.3s ease;
}

.btn-menu {
	color: #7D8185;
	transition: color 0.3s ease;
}